{% extends 'lmn/base.html' %}
{% load staticfiles %}
{% block content %}


{% if show %}
  <h2 id="show_title">Notes for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date }}</h2>
{% else %}
  <h2>Latest Notes</h2>
{% endif %}


{% for note in notes %}

<div id="note_{{ note.pk }}">
  <h3 class="note_title">{{ note.title }}</h3>
  <p class="show_info"><a href="{% url 'lmn:notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a></p>
  <P class="note_info">Posted on {{ note.posted_date }} by <a class='user' href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a></p>
  <p class='note_text'>{{ note.text|truncatechars:100 }}</p>
  {% if note.photo %}
    <img class="note_photo" src="{{ note.photo.url }}">
  {% endif %}

    {% if note.user.pk == user.pk %}
  <form action="{% url 'lmn:note_detail' note_pk=note.pk %}">
    <input id="edit_note" type="submit" value="Edit Note">
  </form>
  <form action="{% url 'lmn:delete_note' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="note_pk" value="{{ note.pk }}">
    <button type="submit" class="delete_note">Delete Note</button>
  </form>

    {% endif %}

  <script src="{% static 'js/delete_confirmation.js' %}"></script>
</div>
  <hr>

{% empty %}

<p>No notes.</p>

{% endfor %}

<!-- If this is a list of notes for one show,
display button to add new note for that show. -->

{% if show %}

<form action="{% url 'lmn:new_note' show_pk=show.pk %}">
  <input id="add_note" type='submit' value='Add your own notes'>
</form>

{% endif %}

<div class="pagination">
  <span class="step-links">
    {% if notes.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ notes.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
    </span>

    {% if notes.has_next %}
      <a href="?page={{ notes.next_page_number }}">next</a>
      <a href="?page={{ notes.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
