{% extends 'lmn/base.html' %}
{% load staticfiles %}
{% block content %}


<h2 id="note_page_title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by <a href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ user.username }}</a></h2>

<h3 id="note_title"><b>{{ note.title}}</b></h3>
<p id="note_text">{{ note.text }}</b></p>

{% if note.photo %}
  <img id="note_photo" src="{{ note.photo.url }}">
{% else %}
  <p>No photo uploaded</p>
{% endif %}

<form action="{% url 'lmn:note_detail' note_pk=note.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ edit_form.as_p }}
<button type="submit">Save Note</button>
</form>

<form action="{% url 'lmn:delete_note' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="note_pk" value="{{ note.pk }}">
  <button type="submit" class="delete_note">Delete Note</button>
</form>

<script src="{% static 'js/delete_confirmation.js' %}"></script>

{% endblock %}
